---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

	<head>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"> </script>
		{% include head.html %}
	</head>

	<body>

		{% include header.html %}

		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>

		{% if page.path contains '_posts' %}

			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
			{% endif %}

		{% endif %}

	</body>

	<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">

$(document).ready(function () {
	$("h5").nextUntil("h5").fadeToggle();
});
	</script>
</html>
