---
layout: default
---

<noscript>
	<style>

		article .footnotes {
			display: block;
		}

	</style>
</noscript>

<article>

	<div class="center">
		<h1>{{ page.title }}</h1>
		<time>{{ page.date | date: '%B %-d, %Y' }}</time>
	</div>

	<div class="divider"></div>

	{{ content }}

</article>

<form method="POST" action="https://api.staticman.net/v1/entry/eduardoboucas/staticman/gh-pages">
	  <!-- e.g. "2016-01-02-this-is-a-post" -->
	    <input name="options[slug]" type="hidden" value="{{ page.slug }}">

		  <input name="fields[name]" type="text">
		    <input name="fields[email]" type="email">
			  <textarea name="fields[message]"></textarea>

			    <button type="submit">Go!</button>
</form>


<div class="back">
	<a href="{{site.baseurl}}/">Back</a>
</div>
