---
layout: default
---

<noscript>
	<style>

		article .footnotes {
			display: block;
		}

	</style>
</noscript>

<article>

	<div class="center">
		<h1>{{ page.title }}</h1>
		<time>{{ page.date | date: '%B %-d, %Y' }}</time>
	</div>

	<div class="divider"></div>

	{{ content }}

<br>
<br>
<form method="POST" action="https://api.staticman.net/v1/entry/eduardoboucas/staticman/gh-pages">

  <input name="Fields[name]" type="text">
  <input name="Fields[email]" type="email">
  <textarea name="Fields[comment]"></textarea>

  <button type="submit">Submit Comment</button>
</form>

</article>

<div class="back">
	<a href="{{site.baseurl}}/">Back</a>
</div>
